SCOPES=https://www.googleapis.com/auth/drive
HOME=/home/sayandip199309/projects_master/DriveDownload
BASE_TARGET=/mnt/d/Movies
OVERRIDE_BASE_TARGET=False

CRED_FILES=storage.json,client_secrets.json

TARGET=/mnt/d/Movies
DATABASE=Film List - list.csv

DOWNLOAD=FileDownload|Experience (1973).srt|/mnt/d/Misc|False
DOWNLOAD=FolderDownload|Torrent|/mnt/d/Movies/|True
#DOWNLOAD=Custom|Abbas Kiarostami|.|director